@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}


h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
} 


button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0;
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

input {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 0;
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  transition: 0.2s ease-in-out;
  width: 100%;
  margin: 0.5rem 0;
}


